@import url('./header/header.css');
@import url('./header/menu.css');
@import url('./header/brief.css');
@import url('./header/button.css');
@import url('./hero/hero.css');
@import url('./hero/main-title.css');
@import url('./hero/services.css');
@import url('./responsibility/responsibility.css');
@import url('./responsibility/responsible-about.css');
@import url('./responsibility/responsible-description.css');
@import url('./modal/modal.css');                                 
@import url('./modal/close.css');
@import url('./modal/target.css');
@import url('./modal/budget.css');
@import url('./modal/file.css');
@import url('./modal/person.css');

/* Regular */
@font-face {
    font-family: 'Stem300';
    src: local('Stem'),
        url('../fonts/Stem-Regular.ttf') format('truetype'),
        url('../fonts/Stem-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stem-Regular.woff') format('woff'); 
    font-weight: 300;
    font-style: normal;
}

/* Medium */
@font-face {
    font-family: 'Stem';
    src: local('Stem'),
        url('../fonts/Stem-Medium.ttf') format('truetype'),
        url('../fonts/Stem-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stem-Medium.woff') format('woff'); 
    font-weight: 400;
    font-style: normal;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    background: #1C2132;
    font-family: 'Stem', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    font-family: 'Stem';
    font-weight: 500;
}

p {
    padding: 0;
    margin: 0;
}

button {
    cursor: pointer;
    font: inherit;
}

input, button {
    font: inherit;
}

