$primary-color: #F45549;
$secondary-color: #fff;
$b-color: rgba(28, 33, 50, 1);
$neutralDarker: #232428;//main title
$neutrayDark: #191B1D;//title
$neutral: #555759;//check
$neutralLight: #8E8E8E;//input task
$neutralLighter: #5A5A5A;//agreement
$neutralLightest: #ACACAC;//input user