/* Normal 400*/
@font-face {
    font-family: 'Stem-normal';
    src: local('Stem Semi Light'), local('Stem-Semi-Light'),
        url('../fonts/Stem-SemiLight.woff2') format('woff2'),
        url('../fonts/Stem-SemiLight.woff') format('woff'),
        url('../fonts/Stem-SemiLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Medium 500*/
@font-face {
    font-family: 'Stem';
    src: local('Stem'),
        url('../fonts/Stem-Medium.ttf') format('truetype'),
        url('../fonts/Stem-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Stem-Medium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import './scss/secondary/color';
@import './scss/secondary/secondary';

@mixin reset {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    @include reset;
    @include ff-medium;
    font-size: $fz;
    line-height: $lh;
    letter-spacing: $ls + 0.01;
    background-color: $b-color;
    color: $secondary-color;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    @include reset;
    list-style: none;
}

h1, h2, h3 {
    @include reset;
    @include ff-medium;
}

p {
    @include reset;
}

input {
    font: inherit;
    cursor: pointer;
    border: none;
}

button {
    @extend input;
    border: none;
}

@import './scss/header';
@import './scss/hero';
@import './scss/modal';
@import './scss/responsibility';
@import './scss/target';
@import './scss/budget';
@import './scss/person';
@import './scss/file';
@import './scss/close';




