.responsible-description {
    text-indent: 5em; 
    font-size: 55px;
    line-height: 105.5%;
    letter-spacing: 0.03em;
    margin-bottom: 145px;
}

.responsible-description span {
    color: #F45549;
}